.wrap {
  display: flex;

  .leftContent {
    // border: 1px solid rebeccapurple;
    width: 400px;
    height: 300px;
    padding: 8px;
  }

  .rightContent {
    margin-left: 10px;
    flex: 1;

    color: rgb(18, 107, 174);
    padding: 12px;
  }
}
